<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.busybox">

    <application>
        <provider
            android:name=".ContextProvider"
            android:authorities="${applicationId}.context.provider"
            android:exported="false" />
    </application>
</manifest>
